.lesapxepp {
    text-align: right;
    margin-right: -20px; /* Điều chỉnh khoảng cách nếu cần */
    background-color: #3F3F3F;
    width: 170px; /* Đảm bảo độ rộng cố định */
}
.lesapxepp {
    margin-left: 300px;
    background-color: #3F3F3F;

}